@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');

* {
  font-family: 'Hind Siliguri', sans-serif;
}

body {
  background: radial-gradient(#5bccf6, #fcde67);
  width: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

#header {
  font-weight: initial;
  font-size: 50px;
}
#number {
  display: flex;
  align-items: center;
  height: 20%;
}

#numDisplay {
  font-size: 30px;
}

#container {
  height: 20%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  
}

#code,
#key,
#which {
  flex-basis: 1;
  height: 150%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  background: violet;
  border-radius: 10%;
  
}

#desc {
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 40px;

}


.button1 {
  font-size: 24px;
  color: black;
} 